/* Estilos para el popup */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .popup-content p {
    margin-bottom: 10px;
    color: #000000;
  }
  
  .popup-content button {
    margin-top: 15px;
    background-color: #000000;
    position: relative;
  }
  
  .popup-content button:hover {
    background-color: #28a745;
  }

/* Estilos para la ventana emergente */

.ventana-contenedor button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 10px;
}	

.ventana-emergente {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.9); /* Color blanco con opacidad 0.9 (transparencia) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  width: 20%;
  height: 20%;
  margin-left: 10px; /* Desplaza el contenedor hacia la derecha */
  opacity: 0; /* Inicialmente la caja estará oculta */
  animation: aparecer 0.5s ease forwards; /* Agregamos la animación de aparición */
}

/* Estilo para el título de la ventana emergente */
.ventana-emergente h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 5px 0;
  padding-top: 3px;
  padding-left: 10px;
  color: #000000;
  text-align: left;
}

/* Estilos para el contenido de la ventana emergente */
.ventana-emergente p {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-size: 12px;
  margin: 5px 0;
  padding: 10px;
  padding-left: 10px;
  color: #007BFF;
}

.ventana-emergente p:hover {
  transition: 99ms;
  background-color: #b8b7b7; /* Color verde más oscuro en hover */
  border-radius: 5px;
}

/* Animación para la aparición de la caja */
@keyframes aparecer {
  to {
    opacity: 1; /* Al final de la animación, la caja estará completamente visible */
  }
}

/* Animación para el cierre de la caja */
@keyframes cerrar {
  to {
    opacity: 0; /* Al final de la animación, la caja estará completamente oculta */
    height: 0; /* La altura de la caja se reducirá a cero */
    padding: 0; /* Eliminamos el padding para que la caja colapse limpiamente */
  }
}

/* style.css */
/* style.css */
.welcome-banner {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Agrega transparencia (alpha) al color */
  z-index: 999;
}

.logo-container {
  margin-right: 20px; /* Ajusta el margen entre el logo y el texto */
}

.logo-container img {
  width: 100px;
  height: auto;
}

.text-container {
  flex: 1; /* Ocupa todo el espacio restante */
  display: flex; /* Aplica flexbox al texto y los botones */
  align-items: center; /* Centra verticalmente el texto y los botones */
  justify-content: space-between; /* Distribuye el espacio entre el texto y los botones */
}

h1 {
  font-size: 32px; /* Tamaño del texto aumentado */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente del texto */
  font-weight: bold; /* Texto en negrita */
  margin: 0; /* Elimina el margen superior e inferior del encabezado */
  padding: 0; /* Elimina el padding del encabezado */
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto; /* Mueve los botones al lado derecho */
}

li {
  list-style: none;
  margin-left: 10px;
}

li:first-child {
  margin-left: 0; /* Elimina el margen izquierdo del primer botón */
}

li a {
  margin-top: 15px;
  background-color: #000000;
  position: relative;
  padding: 20px;
}

li a:hover {
  transition-duration: 99ms;
  background-color: #28a745;
}


