.Mui-selected {
    color: green !important;
}

.MuiTabs-indicator{
    background-color: rgb(25, 122, 25) !important;
}

.Mui-selected {
    color: rgb(25, 122, 25) !important;
}

button:hover {
    background-color: rgb(35, 35, 35); 
    color: white;
}

.MuiButton-root{
    background-color: rgb(25, 122, 25) !important;
}
